$text_color: #fff;

html {
  color: $text_color;
}

* {
  box-sizing: border-box !important;
}

body {
}

.dark_background_disActive {
  display: none;
}

.dark_background_active {
  z-index: 2;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);

}


//-------------HEADER-----------------\/

.header {
  width: 100%;
  min-width: 320px;
  background-color: #202020;

}

.header_content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.header_contacts-container {
  display: none;

  .header__items-container {
    display: flex;
    justify-content: center;

  }


  font-family: "Source Sans Pro", sans-serif;

  .order-a-call {
    width: 166px;
    height: 47px;
    color: #FF834E;
    border-style: double;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
  }

  .phone {
    display: none;

    a {
      color: #ffffff;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    display: none;

    :not(:last-child) {
      margin-right: 30px;
    }
  }

}

.header__items-container {
  display: none;

  li {

    a {
      text-decoration: none;
      color: white;
      font-family: "Montserrat", serif;
      font-size: 14px;
    }
  }
}

.header__items-container_active {
  z-index: 2;
  position: fixed;
  right: 0;
  top: 50px;
  display: block;

  :hover {
    transition: 0.25s;
    background-color: #2E2E2E;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {

    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    list-style-type: none;
    margin: 0;
    padding: 0;


    a {
      text-decoration: none;
      color: white;
      font-family: "Montserrat", serif;
      font-size: 14px;
    }
  }
}

.logo-container {
  display: flex;
  margin-left: 10px;

  svg {
    transition: fill 0.5s;
    fill: #ffffff;

    :hover {
      transition: fill 0.5s;
      fill: #FF834E;
    }
  }
}

.logo_text-container {
  display: none;

  svg {
    transition: fill 0.5s;
    fill: #ffffff;

    :hover {
      transition: fill 0.5s;
      fill: #FF834E;
    }
  }
}

.phone {
  width: 166px;
  height: 47px;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;

  a {
    text-decoration: none;
  }
}

.burger-container {
  z-index: 2;
  position: fixed;
  right: 0;
  margin: 7px 10px 8px 0;

  .burger {
    box-shadow: 2px 4px 7px rgba(14, 14, 14, 0.4);
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 17.5px;
    background-color: #292929;

    :not(:last-child) {
      margin-bottom: 2px;
    }

    span {
      transition: 0.25s;
      border-radius: 1px;
      background-color: $text_color;
      width: 17.5px;
      height: 1.25px;
    }

    &__active {

      box-shadow: 2px 4px 7px rgba(14, 14, 14, 0.4);
      width: 35px;
      height: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 17.5px;
      background-color: #292929;

      :nth-child(2) {
        display: none;
      }

      :first-child {
        transform: rotate(45deg);
      }

      :last-child {
        transform: rotate(-45deg);
      }

      span {
        transition: 0.25s;
        position: absolute;
        border-radius: 1px;
        background-color: $text_color;
        width: 17.5px;
        height: 1.25px;
      }
    }
  }


}

//-------------HEADER-----------------/\

//-------------BODY-------------------\/
.body {
  z-index: -3;
  font-size: 16px;
  min-width: 320px;
  background-color: #171718;


  hr {
    margin: 15px 0;
    padding: 0;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

}

.body_content-container {
  min-width: 320px;
  margin: 0 auto;
}

.head {
  .head-container {
    position: relative;
    z-index: 1;
    height: 534px;
    margin: 0 auto;

  }

  .head__background {
    :first-child {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: -1;
      min-width: 320px;
      width: 100%;
    }

    :nth-child(2) {
      position: absolute;
      top: 174px;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: -1;
      min-width: 201px;
    }

    :nth-child(3) {
      position: absolute;
      top: 80px;
      right: 0;
      z-index: -1;
      width: 201px;

    }

    :nth-child(4) {
      display: none;
    }

    :nth-child(5) {
      position: absolute;
      top: 168px;
      right: 0;
      left: 0;
      margin: 0 auto;
      z-index: 0;
    }

    :nth-child(6) {
      display: none;
    }
  }

  .heading-container {

  }

  .heading {
    width: 281px;
    height: 114px;
    margin: 0 auto;
    padding-top: 30px;

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20.8px;

    .heading-top_text {
      margin-bottom: 9.5px;
      display: flex;
      font-size: 12.55px;
      align-items: center;
      color: #FF834E;

      svg {
        width: 13px;
        margin-right: 7px;
      }
    }

    .heading-bottom_text {
      text-shadow: 0 3px 3px rgb(14 14 14 / 30%);
      font-size: 20.8px;
      line-height: 134%;
    }
  }

  .bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;

    .bottom__order-a-call {
      background-color: #FF834E;
      color: white;
      display: flex;
      width: 280px;
      height: 50px;
      margin-bottom: 11px;
      align-items: center;
      justify-content: space-between;

      .call_text {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin: auto 0 auto 18px;
      }

      .call_link {
        background-color: #DE774B;
        width: 47px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 13px;
        }
      }

    }

    .bonus_text {
      opacity: 0.5;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 12px;
    }
  }

}

.how {

  .how_content-container {
    position: relative;
    min-height: 518px;
    background-color: white;
    padding-top: 40px;
    color: #171718;
    margin: 0 auto;
  }

  .how-path_background {
    display: none;
  }

  .how_heading-container {
    width: 240px;
    text-align: center;
    color: #393939;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto 24px;
  }

  .how_main-container {
    position: relative;

    .main_content-container {
      margin-left: 30px;
    }

    .group {

    }

    .group_container {
      display: flex;

      ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;

        > :first-child {
          > :first-child {
            color: #EF8B54;
          }
        }

        li {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          position: relative;

          .item_number {
            width: 41px;
            height: 40px;
            margin-right: 11px;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
          }

          .item_text {
            font-size: 12px;
            line-height: 14.63px;
            width: 203px;

            .item-def-text {
              display: block;
            }

            .item-hover-text {
              display: none;
            }
          }

          .right-arrow {
            height: 13.51px;
            position: absolute;
            top: 13px;
            right: 14.74px;

            :hover {
              cursor: pointer;
            }

            svg {
              transition: 0.25s;
              margin: 0;
              padding: 0;
              border: none;
            }

            &__active {
              height: 13.51px;
              position: absolute;
              top: 13px;
              right: 14.74px;

              :hover {
                cursor: pointer;
              }

              svg {
                transition: 0.25s;
                transform: rotate(180deg);
                margin: 0;
                padding: 0;
                border: none;
              }

            }
          }

          .element_image {
            display: none;
          }

          .rolling-out-text {
            display: none;
            margin-left: 3px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 11px;
            line-height: 17px;
            color: grey;

            &__active {
              width: 100%;
              display: block;
              margin-left: 3px;
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 11px;
              line-height: 17px;
              color: grey;
            }
          }


        }

      }

      .group_text {

      }

    }


    .how_image {
      svg {
        position: absolute;
        top: 10px;
        left: 15px;
      }
    }

  }

}

.features {
  padding-bottom: 120px;
  background-image: url("../src/img/Body/Features/Blume BG.png");
  background-size: 100% 100%;

  .features-container {
    position: relative;
    z-index: 0;
    margin: 0 auto;
  }

  .features_items-container {
    padding-top: 70px;
    width: 280px;
    margin: 0 auto;

    .features_item {
      width: 100%;
    }

    .features_image {
      width: 100%;

      :first-child {
        display: flex;
      }

      :last-child {
        display: none;
      }

      img {
        margin: 0 auto;
        width: 200px;
      }
    }

    .features_text-container {
      text-align: center;

      .features_heading_text {
        margin-bottom: 30px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
      }

      .features_bottom_text {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
      }

      .features_logos {
        display: none;
      }
    }

    hr {
      width: 200px;
      margin: 40px auto;
      padding: 0;
      border: none;
      border-top: 1px solid;
      opacity: 10%;
    }

  }

  .features_navigation {
    display: none;
  }
}

.cases {
  background-image: url("../src/img/Body/Cases/Placeholder.png");
  background-size: 100% 100%;

  .cases-container {
    position: relative;
    margin: 0 auto;
    z-index: 0;

    hr {
      margin: 40px auto 0;
      padding: 0;
      border: none;
      width: 200px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  .our_cases_text-container {
    width: 280px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20.8px;
    line-height: 25.36px;

    .our_cases_text {
      margin-bottom: 30px;

    }

    .our_cases_text__desktop {
      display: none;
    }
  }

  .cases_items-container {
    width: 280px;
    margin: 0 auto;
  }

  .cases_item {
    margin: 0 auto;
    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(25.4563px);
    width: 280px;
    padding: 17px;
    border-radius: 4px;
    margin-bottom: 40px;
  }

  .cases_item_image {
    margin: 0 auto;
    margin-bottom: 7px;

    :first-child {

    }

    :last-child {
      display: none;
    }
  }


  .cases_item_text-container {
    .head_text {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      line-height: 25px;
      font-size: 22px;
      margin-bottom: 8.5px;
    }

    .bottom_text {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      line-height: 18px;
      font-size: 15px;
      opacity: 0.8;

    }

  }

  .cases_item_underline {
    display: none;
  }

  .cases_application {
    background-color: #8D5DCC;
    padding: 34px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 0 auto;

    .application-head_text-container {
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
    }

    .application_image {
      display: block;
      margin-right: 19.5px;
    }

    .application_text {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 11px;
      line-height: 13px;
      width: 178px;
    }

    .application_button {
      width: 232px;
      border: 2.85853px solid #FFFFFF;
      border-radius: 4px;
      margin: 0 auto;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .application_button_text {
      font-family: "Montserrat", sans-serif;
      font-size: 13.24px;
      line-height: 16.26px;
      display: flex;

      svg {
        display: none;
      }
    }

  }
}

.clients {

  .clients_background {
    img {
      display: none;
    }
  }


  .clients-container {
    width: 264px;
    margin: 0 auto;
  }

  .head_text {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20.8px;
    line-height: 25px;
    margin-bottom: 38px;
  }

  .clients_image_group {
    display: flex;
    justify-content: center;


    .clients_image {
      display: none;

      > :first-child {
        width: 231px;
      }

      &__active {
        display: flex;

        > :first-child {
          width: 231px;
        }

        > :last-child {
          display: none;
        }
      }
    }
  }

  .switches_container {
    width: 135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    > :last-child {
      transform: scaleX(-1);
    }

    .switch {

    }

  }


}

.form {
  position: relative;
  padding-bottom: 85px;
  background-image: url("../src/img/Body/Form/fancycrave-277756-unsplash.png  ");
  background-size: 100% 130%;

  .form-container {
    padding-top: 120px;
    position: relative;
    margin: 0 auto;
    z-index: 0;
    display: grid;
    grid-auto-columns: 280px;
    justify-content: center;
  }

  .form_content-container {
    display: grid;
  }

  .form_head_text {
    width: 280px;
    margin: 0 auto 31px;
    color: #FF834E;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }

  .form_bonus_text {
    width: 280px;
    margin: 0 auto 29px;
    border: 2px solid #FF834E;
    padding: 19px 0 22px 11px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 13px;
      line-height: 15.85px;

      > :first-child {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 16px;
      }

      > :not(:first-child :last-child) {
        margin-bottom: 9px;
      }

      li {
        position: relative;
        margin-left: 14px;

        :nth-child(1) {
          position: absolute;
          background-color: $text_color;
          top: 0;
          bottom: 0;
          margin: auto 0;
          left: -14px;
          width: 9px;
          height: 1px;
        }

        :nth-child(2) {
          position: absolute;
          background-color: $text_color;
          width: 9px;
          height: 1px;
          top: 0;
          left: -14px;
          bottom: 0;
          margin: auto 0;
          transform: rotate(-90deg);
        }
      }
    }

  }

  .directly_form_head_text {
    width: 270px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 57px;
  }

  .directly_form {
    width: 280px;
    padding: 15px 10px;
    background: rgba(#fff, 0.1); /* Цвет фона */
    border-radius: 2px;
    margin: 0 auto;

    > :not(:last-child) {
      margin-bottom: 15px;
    }

    input {
      padding-left: 13px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      border: none;
    }

    textarea {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      padding-left: 13px;
      resize: none;
      border: none;
    }


    .default_form {
      height: 45px;
      width: 100%;
    }

    .form_about {
      min-height: 80px;
      width: 100%;
    }

    .form_checkbox {
      display: flex;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      position: relative;
      margin-bottom: 15px;

      .checkbox {
        display: none;
      }

      .checkbox_label {
        padding-left: 36px;

        &:before {
          content: "";
          //content: url("../src/img/Body/Form/formMark.svg");

          display: flex;
          width: 22px;
          height: 22px;
          border: 1px solid #D0D0D0;
          border-radius: 2px;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }

      .checkbox:checked + .checkbox_label::before {
        content: url("../src/img/Body/Form/formMark.svg");

      }

    }

    .form_submit {
      width: 100%;
      height: 45px;
      background: rgb(255, 131, 78);
      background: linear-gradient(340deg, rgba(255, 131, 78, 1) 58%, rgba(255, 255, 255, 0.8629201680672269) 100%);
      border: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }

  }

}


//-------------BODY-------------------/\

//-------------FOOTER-----------------\/
.footer {
  background-color: #2E2E2E;
  font-size: 16px;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

.footer_content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin: 0 auto;
}

.footer_logo-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer_about-container {
  text-align: center;
  display: flex;
  flex-direction: column;

  :not(:last-child) {
    margin-bottom: 14px;
  }

  .contacts-info {
    margin-bottom: 30px;
  }

  .social-network {
    margin-bottom: 56px;
  }

  .main_text {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
  }

  .info_text {
    list-style-type: none;
    font-weight: 300;
  }

}

.footer_map-container {
  display: flex;
}

.footer_map_text-container {
  display: flex;
  margin-bottom: 50px;
  align-items: center;

  :not(:last-child) {
    margin-right: 22px;
  }

  .text {
  }

  .image {

  }

  .map {
    img {
      border-radius: 40px;
    }
  }
}

//-------------FOOTER-----------------/\

@media (min-width: 500px) {
  .header {
  }

  .footer {
    background-color: #2E2E2E;
    font-size: 16px;
  }

  .footer_content-container {
    align-items: center;
    margin: 0 auto;
  }

  .footer_logo-container {

  }

  .footer_about-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    .main_text {
      font-size: 18px;
    }

    .info_text {
      list-style-type: none;
    }

  }

  .footer_map-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer_map_text-container {
    display: flex;

    .text {

    }

    .image {

    }
  }


}

@media (min-width: 768px) {
  .header {
  }

  .header_contacts-container {
    display: none;
  }

  .header__items-container {
    display: flex;
    justify-content: center;
    width: 100%;


    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0 auto;


      :not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .burger-container {
    .burger {
      display: none;
    }
  }

  .footer_content-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer_about-container {
    margin-top: 50px;
    max-width: 600px;
    justify-content: space-around;
  }

}


@media (min-width: 1024px) {
  .header {

  }

  .header_content-container {
    max-width: 1410px;
  }

  .logo-container {
    margin-right: 14px;
  }

  .logo_text-container {
    display: flex;
  }

  .header__items-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0 auto;
    }
  }

  .footer {
    padding: 50px 0 66px 0;
  }

  .footer_content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1060px;
  }

  .footer_logo-container {
    margin: 0;
  }

  .footer_about-container {
    margin: 0;
    min-width: 312px;
    text-align: left;
    justify-content: space-around;

    .contacts-info {
      margin: 0;
    }

    .social-network {
      margin-bottom: 0;
    }

  }

  .footer_map-container {
    width: auto;

    .footer_map_text-container {
      margin: 0;
    }

  }


}


@media (min-width: 1200px) {
  .header {
    padding: 20px 0 20px 0;
  }

  .header_content-container {

  }


  .header__items-container {
    display: flex;

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0 auto;
    }
  }

  .logo-container {
    margin-right: 14px;
  }

  .logo_text-container {
    display: flex;
    margin-right: 97px;
  }

  .footer {

  }

}


@media (min-width: 1400px) {
  .header {

  }
  .header_content-container {
    max-width: 1410px;
    margin: 0 auto;
  }
  .header_contacts-container {
    display: flex;
    align-items: center;

    .order-a-call {
      display: flex;
      color: #FF834E;
      align-items: center;
    }

    .order-a-call:hover{
      cursor: pointer;
    }

    .phone {
      display: flex;
    }
  }
  .header__items-container {
    margin: 0;
    padding: 0;

    ul {
      list-style-type: none;
      display: flex;
      margin: 0 0 0 auto;
    }
  }

  .head {
    background-image: url("../src/img/Body/Head/DeskTopBg.png");
    background-size: 100% 100%;
    height: 1060px;

    .head-container {
      max-width: 1920px;
      position: relative;
      z-index: 1;

      height: 100%;
      margin: 0 auto;

    }

    .head__background {
      position: absolute;
      top: 0;
      width: 100%;

      :first-child {
        display: none;
      }

      :nth-child(2) {
        display: none;
      }

      :nth-child(3) {
        display: none;
      }

      :nth-child(4) {
        display: block;
        position: absolute;
        width: 500px;
        right: 100px;
        top: 185px;
      }

      :nth-child(5) {
        display: none;
      }

      :nth-child(6) {
        display: block;
        position: absolute;
        top: 390px;
        right: 240px;
        width: 385px;
      }
    }

    .heading-container {
      padding-top: 200px;
    }

    .heading {
      width: 824px;
      margin-left: 256px;
      padding: 0;

      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 20.8px;

      .heading-top_text {
        margin-bottom: 9.5px;
        display: flex;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        align-items: center;
        color: #FF834E;

        svg {
          width: 25px;
          margin-right: 7px;
        }
      }

      .heading-bottom_text {
        text-shadow: 0 3px 3px rgb(14 14 14 / 30%);
        font-size: 52px;
        line-height: 134%;
      }
    }

    .bottom-container {
      display: block;
      flex-direction: column-reverse;
      align-items: center;
      position: absolute;
      bottom: 190px;
      padding-left: 256px;
      left: 0;
      right: 0;

      .bottom__order-a-call {
        position: relative;
        background-color: #FF834E;
        color: white;
        display: flex;
        width: 329px;
        height: 65px;
        margin: 0;
        align-items: center;
        justify-content: space-between;

        .call_text {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          margin: auto 0 auto 18px;
        }

        .call_link {
          background-color: #DE774B;
          width: 65px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 13px;
          }
        }

      }

      .bonus_text {
        position: absolute;
        opacity: 1;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        top: -33px;
      }
    }

  }


  .how {
    min-height: 1054px;
    position: relative;
    background-image: url("../src/img/Body/How/HowPlaceholder.png");
    background-size: 100% 100%;


    .how_content-container {
      position: absolute;
      padding: 0;
      width: 1394px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 100%;
      background: none;
      color: #FFFFFF;
    }

    .how-path_background {
      position: absolute;
      display: block;
      opacity: 0.3;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 1394px;
      height: 667px;
      margin: auto;

      .path_image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1207px;
        margin: auto;
      }

      .start_image {
        position: absolute;
        top: 25px;
      }

      .finish_image {
        position: absolute;
        bottom: 137px;
        left: 145px;
      }
    }

    .how_heading-container {
      width: 100%;
      height: 156px;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 26px;
      line-height: 31px;
      margin: 0;
      padding-top: 100px;
      color: #FFFFFF;
    }

    .how_main-container {
      position: relative;
      width: 1207px;
      height: 667px;
      float: right;

      .main_content-container {
        position: absolute;
        top: 50px;
        height: 100%;
        width: 100%;
        margin: 0;
      }

      .group {
        width: 100%;
        height: 100%;
      }

      .group_container {
        width: 100%;
        height: 100%;
        display: flex;


        ul {
          margin: 0;
          padding: 0;
          width: 100%;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          //

          > :first-child {
            > :first-child {
              color: #FFF;
            }
          }


          li {
            z-index: 1;
            display: flex;
            width: 243px;
            height: 296px;
            margin-left: 120px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 22;

            .element_image {
              display: block;
              width: 180px;
              height: 180px;

              > :first-child {
                position: absolute;
                display: block;

                circle {
                  fill: #171718;
                }
              }

              > :last-child {
                display: block;
                position: absolute;
                top: 90px;
                left: 50px;
                width: 75px;

                :only-child {
                  fill: white;
                }
              }
            }


            .item_number {
              position: absolute;
              top: 0px;
              left: 110px;
              display: block;
              font-family: "Montserrat", sans-serif;
              font-weight: 700;
              font-size: 118px;
              line-height: 143px;
              Fcolor: #FF;
              opacity: 0.1;
              z-index: 0;
            }

            .item_text {
              display: block;
              position: absolute;
              top: 250px;
              left: -40px;
              width: 259px;
              text-align: center;
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 18px;
              line-height: 22px;
            }

            .right-arrow {
              display: none;

              &__active {
                display: none;
              }
            }

            .rolling-out-text {
              display: none;
              margin-left: 3px;
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 11px;
              line-height: 17px;
              color: grey;

              &__active {
                width: 100%;
                display: none;
                margin-left: 3px;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 11px;
                line-height: 17px;
                color: grey;

              }
            }

          }

          li:hover .element_image {
            > :first-child {
              circle {
                transition: 0.2s;
                fill: #FFF;
              }
            }

            > :last-child {
              :only-child {
                fill: #171718;
              }
            }


          }

          li:hover .item-def-text {
            display: none;
          }

          li:hover .item-hover-text {
            display: block;

            a {
              color: #FFFFFF;
            }
          }

          li:hover .item_number {
            transition: 0.2s;
            color: #FF834E;
            opacity: 1;
          }
        }

        .group_text {

        }

      }


      .how_image {
        display: none;

        svg {
          position: absolute;
          top: 10px;
          left: 15px;
        }
      }

    }

  }


  .features {
    padding-bottom: 120px;
    height: 1060px;
    background-image: url("../src/img/Body/Features/BlumeBG_Desktop.png");
    background-size: 100% 100%;
    position: relative;

    .features-container {
      position: relative;
      z-index: 0;
      margin: 0 auto;
    }

    .features_items-container {
      padding-top: 188px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 0px;

      .features_item {
        width: 100%;
        display: none;

        &__active {
          display: flex;
          width: 1277px;
          margin: 0 auto;

          .features_image {
            width: 430px;
            margin-right: 50px;
            //
            > :first-child {
              display: none;
            }

            .phone_image {
              display: block;
              width: 396px;
              position: absolute;
              //
              :first-child {
                width: 100%;
              }

              :last-child {
                display: block;
                position: absolute;
                left: 135px;
                top: 75px;
              }
            }
          }

        }
      }

      .features_text-container {
        text-align: left;
        padding-top: 142px;

        .features_heading_text {
          width: 588px;
          margin-bottom: 40px;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: 26px;
          line-height: 41.2px;
        }

        .features_bottom_text {
          width: 570px;
          margin-bottom: 40px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
        }

        .features_logos {
          display: block;
        }
      }

      hr {
        display: none;
      }

    }

    .features_navigation {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 109px;

      a {
        color: rgba(white, 0.4);
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        text-decoration-line: underline;
      }

      //
      :not(:last-child) {
        margin-right: 100px;
      }
    }
  }


  .cases {
    background-image: url("../src/img/Body/Cases/DesktopBG.png");
    background-size: 100% 100%;

    .cases-container {
      position: relative;
      margin: 0 auto;
      z-index: 0;

      hr {
        margin: 40px auto 0;
        padding: 0;
        border: none;
        width: 200px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    .our_cases_text-container {
      width: 100%;
      text-align: center;
      font-size: 42px;
      line-height: 51.2px;
      margin-bottom: 120px;

      .our_cases_text {
        display: none;

      }

      .our_cases_text__desktop {
        display: block;
      }
    }

    .cases_items-container {
      width: 100%;
      display: flex;
      justify-content: center;

      :not(:first-child :last-child) {
        margin-right: 20px;
      }
    }

    .cases_item {
      margin: 0;
      background: rgba(20, 20, 20, 0.6);
      backdrop-filter: blur(25.4563px);
      width: 328px;
      height: 500px;
      padding: 17px;
      border-radius: 4px;
      margin-bottom: 40px;
      opacity: 0.5;

    }

    .cases_item:hover {
      opacity: 1;
      transition: 0.2s;
    }

    .cases_item:hover .cases_item_underline {
      display: block;

    }

    .cases_item_underline {
      position: absolute;
      display: none;
      bottom: -30px;
      left: -5px;
    }

    .cases_item_image {
      margin: 0 auto;
      padding: 0;
      margin-bottom: 20px;

      :first-child {
        display: none;
      }

      :last-child {
        display: block;
        width: 288px;
        margin: 0 auto;
      }
    }


    .cases_item_text-container {
      .head_text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        line-height: 25px;
        font-size: 22px;
        margin-bottom: 8.5px;
      }

      .bottom_text {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        line-height: 18px;
        font-size: 15px;
        opacity: 0.8;

      }

    }

    .cases_application {
      width: 990px;
      height: 65px;
      background-color: #50386F;
      padding: 0;
      border-radius: 0;
      display: grid;
      grid-template-columns: auto 240px;

      .application-head_text-container {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;


      }

      .application_image {
        display: none;
        margin: 0;
      }

      .application_text {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-left: 30px;
        width: 100%;
      }

      .application_button {
        background-color: #8D5DCC;
        width: 240px;
        height: 100%;
        border: none;
        margin: 0 auto;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .application_button_text {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;

        > :first-child {
          margin-right: 15px;
        }

        svg {
          height: 15px;
          margin: 0 auto;
          vertical-align: middle;
        }
      }

    }
  }

  .clients {
    position: relative;
    padding-top: 122px;
    height: 1061px;
    background-image: url("../src/img/Body/Clients/Clients_desktopBG.png");
    background-size: 100% 100%;

    .clients-container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

    }

    .head_text {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 42px;
      line-height: 51.2px;
      margin-bottom: 210px;
    }

    .clients_image_group {
      display: flex;
      justify-content: center;
      margin-bottom: 90px;

      > :not(:last-child) {
        margin-right: 100px;
      }

      .clients_image {
        display: flex;
        position: relative;

        > :first-child {
          display: flex;
          width: 250px;
          height: 250px;
          z-index: 1;
        }

        > :last-child {
          position: absolute;
          top: -100px;
          right: -36px;
          display: flex;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 190px;
          line-height: 231.61px;
          color: rgba(#FFF, 0.1);
          z-index: 0;
        }

        &__active {
          position: relative;

          > :first-child {
            display: flex;
            width: 250px;
            height: 250px;
            z-index: 1;
          }

          > :last-child {
            position: absolute;
            top: -100px;
            right: -36px;
            display: flex;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 190px;
            line-height: 231.61px;
            color: #FF834E;
            z-index: 0;
          }
        }

      }
    }

    .switches_container {
      width: 208px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;


      .switch {
        svg {
          width: 74px;
          height: 74px;
        }

      }

    }


  }

  .form {
    position: relative;
    padding: 0;
    background-image: url("../src/img/Body/Form/fancycraveDesktop.png");
    background-size: 100% 1060px;

    .form-container {
      height: 840px;
      margin: 0 auto;
      padding-top: 210px;
      z-index: 0;
      display: grid;
      grid-auto-columns: 1100px;
      justify-content: center;
    }

    .form_content-container {
      display: grid;
      grid-template-rows: 52px 159px 223px;
      grid-template-columns: 760px 350px;
      grid-template-areas: "application form" "head_text form" "bonus_text form";


      .form_head_text {
        grid-area: head_text;
        width: auto;
        margin: 0;
        color: #FF834E;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 41px;
        line-height: 50px;
      }

      .form_bonus_text {
        grid-area: bonus_text;
        width: 635px;
        margin: 0;
        padding: 54px 54px 52.25px 49px;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          font-family: "Montserrat", sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 19.5px;

          > :first-child {
            font-weight: 500;
            font-size: 25px;
            line-height: 30.5px;
            margin-bottom: 15px;
          }

          > :not(:first-child :last-child) {
            margin-bottom: 4.5px;
          }

          li {
            span {
              height: 1px;
              width: 9px;
              background-color: white;

            }
          }
        }

      }

      .directly_form_head_text {
        width: 100%;
        grid-area: application;
        font-size: 18px;
        line-height: 22px;
      }

      .directly_form {
        color: #595959;
        grid-area: form;
        width: 350px;
        padding: 15px 10px;
        max-height: 434px;
        background: #FFF; /* Цвет фона */
        border-radius: 2px;
        margin: 0 auto;

        input {
          padding-left: 13px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          border: 1px solid #D0D0D0;
          background-color: rgba(#D0D0D0, 0.4);
        }

        textarea {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          padding-left: 13px;
          border: 1px solid #D0D0D0;
          background-color: rgba(#D0D0D0, 0.4);
        }


        .default_form {
          height: 45px;
          width: 100%;
        }

        .form_about {
          min-height: 80px;
          width: 100%;
          margin-bottom: 12.62px;
        }

        .form_checkbox {

          display: flex;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 10px;
          line-height: 12px;
          position: relative;
          margin-bottom: 15px;

          .checkbox {
            display: none;
          }

          .checkbox_label {
            padding-left: 36px;

            &:before {
              content: "";
              //content: url("../src/img/Body/Form/formMark.svg");

              display: flex;
              width: 22px;
              height: 22px;
              border: 1px solid #D0D0D0;
              border-radius: 2px;
              align-items: center;
              justify-content: center;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }

          .checkbox:checked + .checkbox_label::before {
            content: url("../src/img/Body/Form/formMark.svg");

          }

        }

        .form_submit {
          width: 100%;
          height: 45px;
          background: rgb(255, 131, 78);
          border: none;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
          box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

        }

      }

    }

  }

}


@media (min-width: 1920px) {
  .header {
    width: 100%;

    .header_content-container {

    }

    .header_contacts-container {
      display: flex;
      align-items: center;

      .order-a-call {
        display: flex;
        color: #FF834E;
        align-items: center;

      }

      .phone {
        width: 166px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          text-decoration: none;
        }
      }
    }

    .header__items-container {
      margin: 0;
      padding: 0;

      ul {
        list-style-type: none;
        display: flex;
        margin: 0 0 0 auto;
      }
    }

  }


  .head {
    background-image: url("../src/img/Body/Head/DeskTopBg.png");
    background-size: 100% 100%;
    height: 1060px;

    .head-container {
      max-width: 1920px;
      position: relative;
      z-index: 1;

      height: 100%;
      margin: 0 auto;

    }

    .head__background {
      position: absolute;
      top: 0;
      width: 100%;

      :first-child {
        display: none;
      }

      :nth-child(2) {
        display: none;
      }

      :nth-child(3) {
        display: none;
      }

      :nth-child(4) {
        display: block;
        position: absolute;
        right: 240px;
        top: 185px;
      }

      :nth-child(5) {
        display: none;
      }

      :nth-child(6) {
        display: block;
        position: absolute;
        top: 190px;
        right: 240px;
        width: 585px;
      }
    }

    .heading-container {
      padding-top: 200px;
    }

    .heading {
      width: 824px;
      margin-left: 256px;
      padding: 0;

      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 20.8px;

      .heading-top_text {
        margin-bottom: 9.5px;
        display: flex;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        align-items: center;
        color: #FF834E;

        svg {
          width: 25px;
          margin-right: 7px;
        }
      }

      .heading-bottom_text {
        text-shadow: 0 3px 3px rgb(14 14 14 / 30%);
        font-size: 52px;
        line-height: 134%;
      }
    }

    .bottom-container {
      display: block;
      flex-direction: column-reverse;
      align-items: center;
      position: absolute;
      bottom: 190px;
      padding-left: 256px;
      left: 0;
      right: 0;

      .bottom__order-a-call {
        position: relative;
        background-color: #FF834E;
        color: white;
        display: flex;
        width: 329px;
        height: 65px;
        margin: 0;
        align-items: center;
        justify-content: space-between;

        .call_text {
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          margin: auto 0 auto 18px;
        }

        .call_link {
          background-color: #DE774B;
          width: 65px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 13px;
          }
        }

      }

      .bonus_text {
        position: absolute;
        opacity: 1;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        top: -33px;
      }
    }

  }


  .how {
    min-height: 1054px;
    position: relative;
    background-image: url("../src/img/Body/How/HowPlaceholder.png");
    background-size: 100% 100%;


    .how_content-container {
      position: absolute;
      padding: 0;
      width: 1394px;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 100%;
      background: none;
      color: #FFFFFF;
    }

    .how-path_background {
      position: absolute;
      display: block;
      opacity: 0.3;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 1394px;
      height: 667px;
      margin: auto;

      .path_image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1207px;
        margin: auto;
      }

      .start_image {
        position: absolute;
        top: 25px;
      }

      .finish_image {
        position: absolute;
        bottom: 137px;
        left: 145px;
      }
    }

    .how_heading-container {
      width: 100%;
      height: 156px;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 26px;
      line-height: 31px;
      margin: 0;
      padding-top: 100px;
      color: #FFFFFF;
    }

    .how_main-container {
      position: relative;
      width: 1207px;
      height: 667px;
      float: right;

      .main_content-container {
        position: absolute;
        top: 50px;
        height: 100%;
        width: 100%;
        margin: 0;
      }

      .group {
        width: 100%;
        height: 100%;
      }

      .group_container {
        width: 100%;
        height: 100%;
        display: flex;


        ul {
          margin: 0;
          padding: 0;
          width: 100%;
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          //

          > :first-child {
            > :first-child {
              color: #FFF;
            }
          }


          li {
            z-index: 1;
            display: flex;
            width: 243px;
            height: 296px;
            margin-left: 120px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 22;

            .element_image {
              display: block;
              width: 180px;
              height: 180px;

              > :first-child {
                position: absolute;
                display: block;

                circle {
                  fill: #171718;
                }
              }

              > :last-child {
                display: block;
                position: absolute;
                top: 90px;
                left: 50px;
                width: 75px;

                :only-child {
                  fill: white;
                }
              }
            }


            .item_number {
              position: absolute;
              top: 0px;
              left: 110px;
              display: block;
              font-family: "Montserrat", sans-serif;
              font-weight: 700;
              font-size: 118px;
              line-height: 143px;
              Fcolor: #FF;
              opacity: 0.1;
              z-index: 0;
            }

            .item_text {
              display: block;
              position: absolute;
              top: 250px;
              left: -40px;
              width: 259px;
              text-align: center;
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 18px;
              line-height: 22px;
            }

            .right-arrow {
              display: none;

              &__active {
                display: none;
              }
            }

            .rolling-out-text {
              display: none;
              margin-left: 3px;
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 11px;
              line-height: 17px;
              color: grey;

              &__active {
                width: 100%;
                display: none;
                margin-left: 3px;
                font-family: "Montserrat", sans-serif;
                font-weight: 400;
                font-size: 11px;
                line-height: 17px;
                color: grey;

              }
            }

          }

          li:hover .element_image {
            > :first-child {
              circle {
                transition: 0.2s;
                fill: #FFF;
              }
            }

            > :last-child {
              :only-child {
                fill: #171718;
              }
            }


          }

          li:hover .item-def-text {
            display: none;
          }

          li:hover .item-hover-text {
            display: block;

            a {
              color: #FFFFFF;
            }
          }

          li:hover .item_number {
            transition: 0.2s;
            color: #FF834E;
            opacity: 1;
          }
        }

        .group_text {

        }

      }


      .how_image {
        display: none;

        svg {
          position: absolute;
          top: 10px;
          left: 15px;
        }
      }

    }

  }


  .features {
    padding-bottom: 120px;
    height: 1060px;
    background-image: url("../src/img/Body/Features/BlumeBG_Desktop.png");
    background-size: 100% 100%;
    position: relative;

    .features-container {
      position: relative;
      z-index: 0;
      margin: 0 auto;
    }

    .features_items-container {
      padding-top: 188px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 0px;

      .features_item {
        width: 100%;
        display: none;

        &__active {
          display: flex;
          width: 1277px;
          margin: 0 auto;

          .features_image {
            width: 430px;
            margin-right: 50px;
            //
            > :first-child {
              display: none;
            }

            .phone_image {
              display: block;
              width: 396px;
              position: absolute;
              //
              :first-child {
                width: 100%;
              }

              :last-child {
                display: block;
                position: absolute;
                left: 135px;
                top: 75px;
              }
            }
          }

        }
      }

      .features_text-container {
        text-align: left;
        padding-top: 142px;

        .features_heading_text {
          width: 588px;
          margin-bottom: 40px;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: 26px;
          line-height: 41.2px;
        }

        .features_bottom_text {
          width: 570px;
          margin-bottom: 40px;
          font-family: "Montserrat", sans-serif;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
        }

        .features_logos {
          display: block;
        }
      }

      hr {
        display: none;
      }

    }

    .features_navigation {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 109px;

      a {
        color: rgba(white, 0.4);
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        text-decoration-line: underline;
      }

      //
      :not(:last-child) {
        margin-right: 100px;
      }
    }
  }


  .cases {
    background-image: url("../src/img/Body/Cases/DesktopBG.png");
    background-size: 100% 100%;

    .cases-container {
      position: relative;
      margin: 0 auto;
      z-index: 0;

      hr {
        margin: 40px auto 0;
        padding: 0;
        border: none;
        width: 200px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
      }
    }

    .our_cases_text-container {
      width: 100%;
      text-align: center;
      font-size: 42px;
      line-height: 51.2px;
      margin-bottom: 120px;

      .our_cases_text {
        display: none;

      }

      .our_cases_text__desktop {
        display: block;
      }
    }

    .cases_items-container {
      width: 100%;
      display: flex;
      justify-content: center;

      :not(:first-child :last-child) {
        margin-right: 20px;
      }
    }

    .cases_item {
      margin: 0;
      background: rgba(20, 20, 20, 0.6);
      backdrop-filter: blur(25.4563px);
      width: 328px;
      height: 500px;
      padding: 17px;
      border-radius: 4px;
      margin-bottom: 40px;
      opacity: 0.5;

    }

    .cases_item:hover {
      opacity: 1;
      transition: 0.2s;
    }

    .cases_item:hover .cases_item_underline {
      display: block;

    }

    .cases_item_underline {
      position: absolute;
      display: none;
      bottom: -30px;
      left: -5px;
    }

    .cases_item_image {
      margin: 0 auto;
      padding: 0;
      margin-bottom: 20px;

      :first-child {
        display: none;
      }

      :last-child {
        display: block;
        width: 288px;
        margin: 0 auto;
      }
    }


    .cases_item_text-container {
      .head_text {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        line-height: 25px;
        font-size: 22px;
        margin-bottom: 8.5px;
      }

      .bottom_text {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        line-height: 18px;
        font-size: 15px;
        opacity: 0.8;

      }

    }

    .cases_application {
      width: 990px;
      height: 65px;
      background-color: #50386F;
      padding: 0;
      border-radius: 0;
      display: grid;
      grid-template-columns: auto 240px;

      .application-head_text-container {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;


      }

      .application_image {
        display: none;
        margin: 0;
      }

      .application_text {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-left: 30px;
        width: 100%;
      }

      .application_button {
        background-color: #8D5DCC;
        width: 240px;
        height: 100%;
        border: none;
        margin: 0 auto;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .application_button_text {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        display: flex;

        > :first-child {
          margin-right: 15px;
        }

        svg {
          height: 15px;
          margin: 0 auto;
          vertical-align: middle;
        }
      }

    }
  }

  .clients {
    position: relative;
    padding-top: 122px;
    height: 1061px;
    background-image: url("../src/img/Body/Clients/Clients_desktopBG.png");
    background-size: 100% 100%;

    .clients-container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

    }

    .head_text {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 42px;
      line-height: 51.2px;
      margin-bottom: 210px;
    }

    .clients_image_group {
      display: flex;
      justify-content: center;
      margin-bottom: 90px;

      > :not(:last-child) {
        margin-right: 100px;
      }

      .clients_image {
        display: flex;
        position: relative;

        > :first-child {
          display: flex;
          width: 317px;
          height: 317px;
          z-index: 1;
        }

        > :last-child {
          position: absolute;
          top: -100px;
          right: -36px;
          display: flex;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 190px;
          line-height: 231.61px;
          color: rgba(#FFF, 0.1);
          z-index: 0;
        }

        &__active {
          position: relative;

          > :first-child {
            display: flex;
            width: 317px;
            height: 317px;
            z-index: 1;
          }

          > :last-child {
            position: absolute;
            top: -100px;
            right: -36px;
            display: flex;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 190px;
            line-height: 231.61px;
            color: #FF834E;
            z-index: 0;
          }
        }

      }
    }

    .switches_container {
      width: 208px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;


      .switch {
        svg {
          width: 74px;
          height: 74px;
        }

      }

    }


  }


}